package templates

templ Auditorium() {
	<div>
		Welcome to the Auditorium, a place where you can read
		articles made by me, in which I explore themes like programming, technology,
		the internet and more.
	</div>
}
