package templates

templ Cinema() {
	<p class="content">
		Video and film are two of my most consumed genres of media,
		so in this cinema, I will be recommending, reviewing and sharing my favourites.
	</p>
}
