package templates

templ Content() {
	<div id="content" class={ content() }>
        Welcome to the Theatre of Morals, the show is about to begin.
	</div>
}

css content() {
	width: 90%;
	box-sizing: border-box;
	padding: 10px 20px;
	border: solid 1px;
	display: flex;
	alignt-items: center;
	border-radius: 5px;
	font-size: 10px;
}
