package templates

import "tom/internal/core/domain"

templ ArticleList(articles []*domain.Article) {
	<div id="article-list" class={ articleList() }>
		for _, article := range articles {
			@ArticleCard(*article)
		}
	</div>
}

css articleList() {
	width: 100%;
	display: flex;
	flex-direction: column;
}
