package templates

import "tom/internal/styles"

templ Auditorium() {
	<div id="content" class={ content(styles.Pallete()) }>
		Welcome to the Auditorium, a place where you can read
		articles made by me, in which we explore themes like programming, technology,
		the internet and more.
	</div>
}
