package templates

import "tom/internal/styles"

templ Cinema() {
	<div id="content" class={ content(styles.Pallete()) }>
		Video and film are two of my most consumed genres of media,
		so in this cinema, I will be recommending, reviewing and sharing my favourites.
	</div>
}
