package templates

import "tom/internal/styles"

templ Lounge() {
	<div id="content" class={ content(styles.Pallete()) }>
		The lounge is a place for relaxation, here we talk about not professional related 
		things. Grab yourself a chair by the fire, sit back and enjoy!
	</div>
}
